<?xml version="1.0" encoding="UTF-8"?>
%rd:RecyclingDetails{"DocumentModeID" => "", "xmlns:rd" => @xmlns_rd}
  %cat_ru:DocumentID{"xmlns:cat_ru" => @xmlns_cat_ru}= "5E052D2E-EF82-4386-A36E-2264F2AA088F"
  %rd:DocType{"xmlns:rd" => @xmlns_rd}= "1"
  %rd:Customs{"xmlns:rd" => @xmlns_rd}
    %cat_ru:Code{"xmlns:cat_ru" => @xmlns_cat_ru}= "10009270"
    %cat_ru:OfficeName{"xmlns:cat_ru" => @xmlns_cat_ru}= "т/п Южный акцизный"
  %rd:Payer{"xmlns:rd" => @xmlns_rd}
    %rd:Person
      %rd:PersonSurname= @export.person_surname
      %rd:PersonName= @export.person_name
      %rd:PersonMiddleName= @export.person_middle_name
    %rd:RFOrganizationFeatures
      %cat_ru:INN{"xmlns:cat_ru" => @xmlns_cat_ru}= @export.inn
    %rd:PersonIDIndicator= "true"
    %rd:IEPersonIDIndicator= "0"
    %rd:FactPayerIndicator= "true"
    %rd:DebtorPayerIndicator= "0"
    %rd:TPOAddress
      %RUScat_ru:AddressKindCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "2"
      %RUScat_ru:CountryCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "RU"
      %RUScat_ru:CounryName{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "РОССИЯ"
      %RUScat_ru:Region{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "Московская область"
      %RUScat_ru:Town{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "г. Тест"
      %RUScat_ru:StreetHouse{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "ул. Тестовая"
      %RUScat_ru:House{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "д. 1"
    %rd:IdentityDoc
      %RUScat_ru:IdentityCardCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "RU01001"
      %RUScat_ru:FullIdentityCardName{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "паспорт гражданина Российской Федерации"
      %RUScat_ru:IdentityCardSeries{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "0000"
      %RUScat_ru:IdentityCardNumber{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "111222"
      %RUScat_ru:IdentityCardDate{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "2000-01-01"
      %RUScat_ru:OrganizationName{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "ОВД ТЕСТ"
      %RUScat_ru:IssuerCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "110-011"
      %RUScat_ru:CountryCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "RU"
  %rd:UtilCollDetails{"xmlns:rd" => @xmlns_rd}
    %rd:VehicleEPassportId= "164302080796546"
    %rd:Sign= "К"
    %rd:TransportKindCode= "1"
    %rd:Vehicle
      %rd:TransportCategoryCode= "M1"
      %rd:Model= "L7"
      %rd:Mark= "LIXIANG"
      %rd:MarkCode= "999"
      %rd:PersonalUseIndicator= "false"
      %rd:EngineTypeIndicator= "true"
      %rd:TipperIndicator= "false"
      %rd:TempImpIndicator= "false"
      %rd:STrIndicator= "false"
      %rd:SpecTransportIndicator= "false"
      %rd:SpecTrfnsportIndicator= "false"
      %rd:VansOrRefTruckIndicator= "false"
      %rd:PickupIndicator= "false"
      %rd:UtilityVehicleIndicator= "false"
      %rd:Engine
        %rd:EngineModeCode= "3"
        %rd:EngineModeName= "электрический двигатель"
        %rd:EngineModel= "ОТСУТСТВУЕТ"
        %rd:EnginePowerHpQuanity= "197.14"
        %rd:EnginePowerKvtQuanity= "145"
      %rd:TotalWeight= "3.080"
      %rd:VehicleProdDate
        %rd:ManufactureDate= "2023-07-01"
    %rd:VINID= "VINID"
    %rd:GoodsRecNumber= "1"
    %rd:GoodsTNVEDCode= "8703800002"
    %rd:Chassis2017Indicator= "false"
    %rd:ManualInputCoefficient= "false"
    %rd:Coefficient= "1.63"
    %rd:DutyTaxFeeRateValue= "20000"
    %rd:UtilAmount= "32600"
    %rd:PenaltiesAmount= "69.55"
    %rd:UtilAmountPayable= "32600"
    %rd:PenaltiesAmountPayable= "69.55"
    %rd:PayDate= "2024-01-26"
    %rd:PresentedDocument
      %cat_ru:PrDocumentName{"xmlns:cat_ru" => @xmlns_cat_ru}= "Договор (контракт), заключенный при совершении сделки с товарами"
      %cat_ru:PrDocumentNumber{"xmlns:cat_ru" => @xmlns_cat_ru}= "Б/Н"
      %cat_ru:PrDocumentDate{"xmlns:cat_ru" => @xmlns_cat_ru}= "2024-01-20"
      %RUScat_ru:DocKindCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "03011"
    %rd:PresentedDocument
      %cat_ru:PrDocumentName{"xmlns:cat_ru" => @xmlns_cat_ru}= "Иные документы"
      %cat_ru:PrDocumentNumber{"xmlns:cat_ru" => @xmlns_cat_ru}= "164302080796546"
      %cat_ru:PrDocumentDate{"xmlns:cat_ru" => @xmlns_cat_ru}= "2024-01-27"
      %RUScat_ru:DocKindCode{"xmlns:RUScat_ru" => @xmlns_cat_ru}= "09999"
    %rd:BorderCrossingDate= "2024-01-20"
  %rd:TotalUtilAmount{"xmlns:rd" => @xmlns_rd}= "32600"
  %rd:TotalPenaltiesAmount{"xmlns:rd" => @xmlns_rd}= "69.55"
  %rd:TotalUtilAmountPayable{"xmlns:rd" => @xmlns_rd}= "32600"
  %rd:TotalPenaltiesAmountPayable{"xmlns:rd" => @xmlns_rd}= "69.55"
  %rd:CalculateDate{"xmlns:rd" => @xmlns_rd}= "2024-01-30"
  %rd:CustomsPersonName{"xmlns:rd" => @xmlns_rd}
    %cat_ru:PersonSurname{"xmlns:cat_ru" => @xmlns_cat_ru}= "PersonSurname"
    %cat_ru:PersonName{"xmlns:cat_ru" => @xmlns_cat_ru}= "PersonName"
    %cat_ru:PersonMiddleName{"xmlns:cat_ru" => @xmlns_cat_ru}= "PersonMiddleName"